.menu{
	margin-top:20px ;
	background: red;
	font-size: 16px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  	text-align: center;
  	height: 48px;
}
.menu ul
{
	display: inline-block;
	margin: auto;
}
.menu li{
	list-style-type: none;
	float: left;
	position: relative;
	background: orange;
}
.menu li a{
	font-family: "楷体";
	text-align: left;
	display: inline-block;
	text-decoration: none;
	color: grey;
	min-width: 300px;
	min-height:50px;
	text-indent: 35px;
	line-height: 48px;
	border-right: solid 1px rgba(0, 0, 0, 0.2);
	transition:text-indent .6s;
	position: relative;
	z-index: 1;
}
.menu li a:first-child{
	border-left: solid 1px rgba(0, 0, 0, 0.2);
}

/*阴影*/
.menu li:after{
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 2px;
	border-radius: 100%;
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,.4);
	z-index: -1;
	transition:all .6s;
}
.menu li:hover::after{
   	box-shadow: 0px 8px 10px 0 rgba(0,0,0,.6);
}}